/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* STYLING */
#best-website {
    font-size: 20px;
    font-family:'Montserrat';
    letter-spacing: 0.15rem;
}

#use-head {
    text-align: center;
    line-height: 125%;
}

#use-body {
    text-align: center;
    letter-spacing: 0.15rem;
    line-height: 75%;
}

#bino {
    text-align: center;
}

#legals {
    text-align: center;
}

#you{
    font-family:'Cascadia Code', serif;
    font-style: italic;
    font-weight: 325;
}

body {
    font-family: 'Montserrat', serif;
    background-color: #282828;
    color: white;
}

h1 {
    font-family: 'Linux Biolinum G', serif;
}

h2 {
    font-family: 'Linux Biolinum G', serif;
}

h4 {
    font-family: 'Linux Biolinum 6', serif;
}